<h3 style="margin-top: 70px; padding-bottom: 10px;">Xəbərlər</h3>
<form method="post" action="">
	<div class="form-group">
		
		<label for="title">Məlumatın adı</label>

		<input type="text" id="title" name="title"  class="form-control">
		
		</div>
	
	<div class="form-group">
		
		<label for="content">Kontent</label>

		<textarea id="content" name="mezmun" class="form-control" rows="13"></textarea>
		
		 <script type="text/javascript">
			//<![CDATA[

				// This call can be placed at any point after the
				// <textarea>, or inside a <head><script> in a
				// window.onload event handler.

				// Replace the <textarea id="editor"> with an CKEditor
				// instance, using default configurations.
				function CkEditorURLTransfer(url) 
{
    window.parent.CKEDITOR.tools.callFunction(1, url, '');
    $('#cke_111_textInput').val(url);
  
}
				CKEDITOR.replace( 'mezmun',
                {
                    /*filebrowserBrowseUrl :'http://agro.loc/js/ckeditor/filemanager/browser/default/browser.html?Connector=http://agro.loc/js/ckeditor/filemanager/connectors/php/connector.php',
                    filebrowserImageBrowseUrl : 'http://agro.loc/js/ckeditor/filemanager/browser/default/browser.html?Type=Image&Connector=http://agro.loc/js/ckeditor/filemanager/connectors/php/connector.php',
                    filebrowserFlashBrowseUrl :'http://agro.loc/js/ckeditor/filemanager/browser/default/browser.html?Type=Flash&Connector=http://agro.loc/js/ckeditor/filemanager/connectors/php/connector.php',
					filebrowserUploadUrl  :'http://agro.loc/js/ckeditor/filemanager/connectors/php/upload.php?Type=File',
					filebrowserImageUploadUrl : 'http://agro.loc/js/ckeditor/filemanager/connectors/php/upload.php?Type=Image',
					filebrowserFlashUploadUrl : 'http://agro.loc/js/ckeditor/filemanager/connectors/php/upload.php?Type=Flash'*/
					
					filebrowserBrowseUrl: 'http://agro.loc/js/ckeditor/plugins/w3bdeveloper_uimages/index.php',
        filebrowserWindowWidth: '860',
        filebrowserWindowHeight: '660'
				});
				

			//]]>
			</script>
	</div>
		
		

	<input type="submit" class="btn btn-success" value="Kateqoriya Yarat">

</form>

<table class="table table-striped" style="width:400px; margin-top: 80px;">

	<?php foreach($data['pages'][1] as $page_data) { ?>
<tr><td><b><?=$page_data['name']?></b></td>
		<td align="right">
		
		<a href="/admin/pages/edithidden/<?=$page_data['id']?>"><button class="btn btn-sm btn-primary">edit</button></a>
		<a href="/admin/pages/deletehidden/<?=$page_data['id']?>" onclick="return confirmDelete();"><button class="btn btn-sm btn-warning">delete</button></a>
	
	</td>
		<td>
			url /pages/viewh/<?=$page_data['id']?>
			
		</td>
<?php } ?>	

</table>