<h3 style="margin-top: 90px;clear: both">Kateqoriyalar</h3>
<form method="post" action="/admin/pages/newscategory">
	<div class="form-group">
		<input type="hidden" name="parent_id"  value="1">
		<label for="title">Kateqoriyanin adı</label>

		<input type="text" id="title" name="name"  class="form-control">
		
		</div>

	<input type="submit" class="btn btn-success" value="Menu yarat">

</form>
<table class="table table-striped" style="width:400px; margin-top: 80px;">
	<tr><th>Kateqoriya adi</th><th></th></tr>

	<?php foreach($data['pages'][0] as $page_data) { ?>
<tr><td><b><?=$page_data['name']?></b></td>

		<td align="right">
		
		<a href="/admin/pages/editnewscategory/<?=$page_data['id']?>"><button class="btn btn-sm btn-primary">edit</button></a>
		<a href="/admin/pages/deletenewscategory/<?=$page_data['id']?>" onclick="return confirmDelete();"><button class="btn btn-sm btn-warning">delete</button></a>
	
	</td>
<?php } ?>	

</table>
